<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.activities">
      <category
            id="net.jeeeyul.pdetools.capability.category"
            name="PDE-Tools">
      </category>

   </extension>
   <extension
         point="org.eclipse.ui.activities">
               <activity
            id="net.jeeeyul.pdetools.capability.shell"
            name="Shell Integration">
      </activity>
      <activityPatternBinding
            activityId="net.jeeeyul.pdetools.capability.shell"
            isEqualityPattern="false"
            pattern="net\.jeeeyul\.pdetools/net\.jeeeyul\.pdetools\.shell.*">
      </activityPatternBinding>
      <categoryActivityBinding
            activityId="net.jeeeyul.pdetools.capability.shell"
            categoryId="net.jeeeyul.pdetools.capability.category">
      </categoryActivityBinding>
      <defaultEnablement
            id="net.jeeeyul.pdetools.capability.shell">
      </defaultEnablement>
   </extension>
   
      <extension
         point="org.eclipse.ui.activities">
               <activity
            id="net.jeeeyul.pdetools.capability.snapshot"
            name="Snapshot Tool">
      </activity>
      <activityPatternBinding
            activityId="net.jeeeyul.pdetools.capability.snapshot"
            isEqualityPattern="false"
            pattern="net\.jeeeyul\.pdetools/net\.jeeeyul\.pdetools\.snapshot.*">
      </activityPatternBinding>
      <categoryActivityBinding
            activityId="net.jeeeyul.pdetools.capability.snapshot"
            categoryId="net.jeeeyul.pdetools.capability.category">
      </categoryActivityBinding>
      <defaultEnablement
            id="net.jeeeyul.pdetools.capability.snapshot">
      </defaultEnablement>
   </extension>
      <extension
            point="org.eclipse.ui.activities">
         <activity
               id="net.jeeeyul.pdetools.capability.wslauncher"
               name="Workspace Launcher">
         </activity>
         <activityPatternBinding
               activityId="net.jeeeyul.pdetools.capability.wslauncher"
               isEqualityPattern="false"
               pattern="net\.jeeeyul\.pdetools/net\.jeeeyul\.pdetools\.wslauncher.*">
         </activityPatternBinding>
         <categoryActivityBinding
               activityId="net.jeeeyul.pdetools.capability.wslauncher"
               categoryId="net.jeeeyul.pdetools.capability.category">
         </categoryActivityBinding>
         <defaultEnablement
               id="net.jeeeyul.pdetools.capability.wslauncher">
         </defaultEnablement>
      </extension>
      <extension
            point="org.eclipse.ui.activities">
         <activity
               id="net.jeeeyul.pdetools.capability.clipboard"
               name="Clipboard">
         </activity>
         <activityPatternBinding
               activityId="net.jeeeyul.pdetools.capability.clipboard"
               isEqualityPattern="false"
               pattern="net\.jeeeyul\.pdetools/net\.jeeeyul\.pdetools\.clipboard.*">
         </activityPatternBinding>
         <categoryActivityBinding
               activityId="net.jeeeyul.pdetools.capability.clipboard"
               categoryId="net.jeeeyul.pdetools.capability.category">
         </categoryActivityBinding>
         <defaultEnablement
               id="net.jeeeyul.pdetools.capability.clipboard">
         </defaultEnablement>
      </extension>
      <extension
            point="org.eclipse.ui.activities">
         <activity
               id="net.jeeeyul.pdetools.capability.biv"
               name="Bundle Images View">
         </activity>
         <activityPatternBinding
               activityId="net.jeeeyul.pdetools.capability.biv"
               isEqualityPattern="false"
               pattern="net\.jeeeyul\.pdetools/net\.jeeeyul\.pdetools\.biv.*">
         </activityPatternBinding>
         <categoryActivityBinding
               activityId="net.jeeeyul.pdetools.capability.biv"
               categoryId="net.jeeeyul.pdetools.capability.category">
         </categoryActivityBinding>
         <defaultEnablement
               id="net.jeeeyul.pdetools.capability.biv">
         </defaultEnablement>
      </extension>
      <extension
            point="org.eclipse.ui.activities">
         <activity
               id="net.jeeeyul.pdetools.capability.crazyoutline"
               name="Crazy Outline view">
         </activity>
         <activityPatternBinding
               activityId="net.jeeeyul.pdetools.capability.crazyoutline"
               isEqualityPattern="false"
               pattern="net\.jeeeyul\.pdetools/net\.jeeeyul\.pdetools\.crazyoutline.*">
         </activityPatternBinding>
         <categoryActivityBinding
               activityId="net.jeeeyul.pdetools.capability.crazyoutline"
               categoryId="net.jeeeyul.pdetools.capability.category">
         </categoryActivityBinding>
         <defaultEnablement
               id="net.jeeeyul.pdetools.capability.crazyoutline">
         </defaultEnablement>
      </extension>
   

</plugin>
