<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="net.jeeeyul.pdetools.icg.builder"
         name="Image Constants Generator"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="true"
            isConfigurable="true"
            supportsConfigurations="true">
         <run
               class="net.jeeeyul.pdetools.icg.builder.ICGBuilder">
         </run></builder>
   </extension>
   <extension
         id="net.jeeeyul.pdetools.icg.nature"
         name="Managed Image Constants Project"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="net.jeeeyul.pdetools.icg.builder.ICGNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.pde.PluginNature">
      </requires-nature>
      <builder
            id="net.jeeeyul.pdetools.icg.builder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="net.jeeeyul.pdetools.icg.enableNature"
            name="Enable Image Constants Generator">
      </command>
      <command
            id="net.jeeeyul.pdetools.icg.disableNature"
            name="Disable Image Constants Generator">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="net.jeeeyul.pdetools.icg.enableNature">
         <class
               class="net.jeeeyul.pdetools.icg.builder.EnableICGNatureHandler"></class>
      </handler>
      <handler
            commandId="net.jeeeyul.pdetools.icg.disableNature">
         <class
               class="net.jeeeyul.pdetools.icg.builder.DisableICGNatureHandler"></class>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure">
         <command
               commandId="net.jeeeyul.pdetools.icg.enableNature"
               icon="icons/image.gif"
               label="Enable Image Constants Generator"
               style="push">
            <visibleWhen
                  checkEnabled="false">
                  <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.eclipse.pde.PluginNature">
                           </test>
                           <not>
                              <test
                                    property="org.eclipse.core.resources.projectNature"
                                    value="net.jeeeyul.pdetools.icg.nature">
                              </test>
                           </not>
                        </adapt>
                     </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="net.jeeeyul.pdetools.icg.disableNature"
               icon="icons/image.gif"
               label="Disable Image Constants Generator"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <instanceof
                           value="org.eclipse.core.resources.IProject">
                     </instanceof>
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="org.eclipse.pde.PluginNature">
                     </test>
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="net.jeeeyul.pdetools.icg.nature">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.eclipse.pde.internal.ui.properties.pluginDevelopmentPage"
            class="net.jeeeyul.pdetools.icg.ui.ICGPropertyPage"
            id="net.jeeeyul.pdetools.icg.propertyPage"
            name="Image Constants Generator">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="net.jeeeyul.pdetools.icg.nature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="net.jeeeyul.pdetools.icg.builder.model.palette.PalettePackage"
            uri="http://jeeeyul.net/pde-tools/icg/palette">
      </package>
   </extension>
   <extension
         id="net.jeeeyul.pdetools.icg.problemmarker"
         name="ICG Problem Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="net.jeeeyul.pdetools.icg.builder.ResolutionProvider"
            markerType="net.jeeeyul.pdetools.icg.problemmarker">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="net.jeeeyul.pdetools.decorator.IconDecorator"
            icon="icons/image.gif"
            id="net.jeeeyul.pdetools.icondecorator"
            label="Icon File Decorator"
            lightweight="true"
            location="REPLACE"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IFile">
            </objectClass>
         </enablement>
      </decorator>
      <decorator
            class="net.jeeeyul.pdetools.decorator.MonitorFolderDecorator"
            icon="icons/image-folder.gif"
            id="net.jeeeyul.pdetools.icg.monitorfolder"
            label="ICG Monitored Folder Decorator"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFolder">
               </objectClass>
               <objectState
                     name="projectNature"
                     value="net.jeeeyul.pdetools.icg.nature">
               </objectState>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="net.jeeeyul.pdetools.icg.refactor.RenameMonitorFolder"
            id="net.jeeeyul.pdetools.icg.renameParticipant"
            name="Rename Monitoring Folder">
         <enablement>
            <with
                  variable="element">
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IContainer">
                     </instanceof>
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="net.jeeeyul.pdetools.icg.nature">
                     </test>
                  </and>
               </adapt>
            </with>
         </enablement>
      </renameParticipant>
      <renameParticipant
            class="net.jeeeyul.pdetools.icg.refactor.RenamePaletteEntry"
            id="net.jeeeyul.pdetools.icg.renameIconParticipant"
            name="Rename Icon File">
         <enablement>
            <with
                  variable="element">
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IResource">
                     </instanceof>
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="net.jeeeyul.pdetools.icg.nature">
                     </test>
                  </and>
               </adapt>
            </with>
         </enablement>
      </renameParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="net.jeeeyul.pdetools.icg.refactor.MoveMonitorFolder"
            id="net.jeeeyul.pdetools.icg.moveParticipant"
            name="Move Monitoring Folder">
         <enablement>
            <with
                  variable="element">
               <and>
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="net.jeeeyul.pdetools.icg.nature">
                  </test>
                  <instanceof
                        value="org.eclipse.core.resources.IFolder">
                  </instanceof>
               </and>
            </with>
         </enablement>
      </moveParticipant>
   </extension>

</plugin>
