<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="net.jeeeyul.pdetools.icg.builder"
         name="Shared Image Generator"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="true"
            isConfigurable="true"
            supportsConfigurations="true">
         <run
               class="net.jeeeyul.pdetools.icg.builder.ICGBuilder">
         </run></builder>
   </extension>
   <extension
         id="net.jeeeyul.pdetools.icg.nature"
         name="Managed Shared Image Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="net.jeeeyul.pdetools.icg.builder.ICGNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.pde.PluginNature">
      </requires-nature>
      <builder
            id="net.jeeeyul.pdetools.icg.builder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="net.jeeeyul.pdetools.category"
            name="PDE Tools">
      </category>
      <command
            categoryId="net.jeeeyul.pdetools.category"
            id="net.jeeeyul.pdetools.icg.enableNature"
            name="Enable Shared Image Generator">
      </command>
      <command
            categoryId="net.jeeeyul.pdetools.category"
            id="net.jeeeyul.pdetools.icg.disableNature"
            name="Disable Shared Image Generator">
      </command>
      <command
            categoryId="net.jeeeyul.pdetools.category"
            defaultHandler="net.jeeeyul.pdetools.clipboard.internal.PasteFromClipboardHistoryHandler"
            id="net.jeeeyul.pdetools.clipbaord.pasteHistory"
            name="Paste from Clipboard History">
      </command>
      <command
            categoryId="net.jeeeyul.pdetools.category"
            defaultHandler="net.jeeeyul.pdetools.snapshot.TakeScreenShotHandler"
            id="net.jeeeyul.pdetools.snapshot.screenshot"
            name="Take a Screen Shot">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="net.jeeeyul.pdetools.clipbaord.pasteHistory"
            icon="icons/clipboard.gif">
      </image>
      <image
            commandId="net.jeeeyul.pdetools.icg.enableNature"
            icon="icons/add.gif">
      </image>
      <image
            commandId="net.jeeeyul.pdetools.snapshot.screenshot"
            icon="icons/camera.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="net.jeeeyul.pdetools.icg.enableNature">
         <class
               class="net.jeeeyul.pdetools.icg.builder.EnableICGNatureHandler"></class>
      </handler>
      <handler
            commandId="net.jeeeyul.pdetools.icg.disableNature">
         <class
               class="net.jeeeyul.pdetools.icg.builder.DisableICGNatureHandler"></class>
      </handler>
      <handler
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <and>
               <iterate>
                  <instanceof
                        value="net.jeeeyul.pdetools.model.pdetools.ClipboardEntry">
                  </instanceof>
               </iterate>
            </and>
         </activeWhen>
         <enabledWhen>
            <and>
               <iterate>
                  <instanceof
                        value="net.jeeeyul.pdetools.model.pdetools.ClipboardEntry">
                  </instanceof>
               </iterate>
               <count
                     value="+">
               </count>
            </and>
         </enabledWhen>
         <class
               class="net.jeeeyul.pdetools.clipboard.internal.RemoveClipboardEntryHandler">
         </class>
      </handler>
      <handler
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <and>
               <iterate>
                  <instanceof
                        value="net.jeeeyul.pdetools.model.pdetools.SnapshotEntry">
                  </instanceof>
               </iterate>
            </and>
         </activeWhen>
         <enabledWhen>
            <and>
               <iterate>
                  <instanceof
                        value="net.jeeeyul.pdetools.model.pdetools.SnapshotEntry">
                  </instanceof>
               </iterate>
               <count
                     value="+">
               </count>
            </and></enabledWhen>
         <class
               class="net.jeeeyul.pdetools.snapshot.handlers.RemoveSnapShotHandler">
         </class>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure">
         <command
               commandId="net.jeeeyul.pdetools.icg.enableNature"
               label="Enable Shared Image Generator"
               style="push">
            <visibleWhen
                  checkEnabled="false">
                  <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.eclipse.pde.PluginNature">
                           </test>
                           <not>
                              <test
                                    property="org.eclipse.core.resources.projectNature"
                                    value="net.jeeeyul.pdetools.icg.nature">
                              </test>
                           </not>
                        </adapt>
                     </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="net.jeeeyul.pdetools.icg.disableNature"
               label="Disable Shared Image Generator"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <instanceof
                           value="org.eclipse.core.resources.IProject">
                     </instanceof>
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="org.eclipse.pde.PluginNature">
                     </test>
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="net.jeeeyul.pdetools.icg.nature">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="net.jeeeyul.pdetools.toolbar"
               label="PDE-Tools">
            <command
                  commandId="net.jeeeyul.pdetools.snapshot.screenshot"
                  id="net.jeeeyul.pdetools.snapshot.screenshot"
                  style="pulldown">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=paste">
         <command
               commandId="net.jeeeyul.pdetools.clipbaord.pasteHistory"
               icon="icons/clipboard.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:net.jeeeyul.pdetools.clipboard.ClipboardView">
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push">
         </command>
         <separator
               name="additions"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.file.properties"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:net.jeeeyul.pdetools.snapshot.SnapshotView">
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push">
         </command>
         <separator
               name="additions"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.file.properties"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:net.jeeeyul.pdetools.clipboard.ClipboardView">
         <command
               commandId="org.eclipse.ui.window.preferences"
               style="push">
            <parameter
                  name="preferencePageId"
                  value="net.jeeeyul.pdetools.clipboard.internal.ClipboardPreferencePage">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:net.jeeeyul.pdetools.snapshot.screenshot">
         <command
               commandId="net.jeeeyul.pdetools.snapshot.screenshot"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/pictures.gif"
               label="Show Camera Roll"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="net.jeeeyul.pdetools.snapshot.SnapshotView">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="net.jeeeyul.pdetools.icg.ui.ICGPropertyPage"
            id="net.jeeeyul.pdetools.icg.propertyPage"
            name="Shared Image Generator">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="net.jeeeyul.pdetools.icg.nature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
      <page
            class="net.jeeeyul.pdetools.clipboard.ClipEntryPropertyPage"
            id="net.jeeeyul.pdetools.clipboard.ClipEntryPropertyPage"
            name="Clipboard Entry">
         <enabledWhen>
            <instanceof
                  value="net.jeeeyul.pdetools.model.pdetools.ClipboardEntry">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         id="net.jeeeyul.pdetools.icg.problemmarker"
         name="Shared Image Generator Problem Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="net.jeeeyul.pdetools.icg.builder.ResolutionProvider"
            markerType="net.jeeeyul.pdetools.icg.problemmarker">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="net.jeeeyul.pdetools.decorator.IconDecorator"
            icon="icons/image.gif"
            id="net.jeeeyul.pdetools.icondecorator"
            label="PDE Tools - Icon File Decorator"
            lightweight="true"
            location="REPLACE"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IFile">
            </objectClass>
         </enablement>
      </decorator>
      <decorator
            class="net.jeeeyul.pdetools.decorator.MonitorFolderDecorator"
            icon="icons/image-folder.gif"
            id="net.jeeeyul.pdetools.icg.monitorfolder"
            label="PDE Tools - Shared Image Folder"
            lightweight="true"
            location="REPLACE"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFolder">
               </objectClass>
               <objectState
                     name="projectNature"
                     value="net.jeeeyul.pdetools.icg.nature">
               </objectState>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="net.jeeeyul.pdetools.icg.refactor.RenameMonitorFolder"
            id="net.jeeeyul.pdetools.icg.renameParticipant"
            name="Rename Monitoring Folder">
         <enablement>
            <with
                  variable="element">
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IContainer">
                     </instanceof>
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="net.jeeeyul.pdetools.icg.nature">
                     </test>
                  </and>
               </adapt>
            </with>
         </enablement>
      </renameParticipant>
      <renameParticipant
            class="net.jeeeyul.pdetools.icg.refactor.RenamePaletteEntry"
            id="net.jeeeyul.pdetools.icg.renameIconParticipant"
            name="Rename Icon File">
         <enablement>
            <with
                  variable="element">
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IResource">
                     </instanceof>
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="net.jeeeyul.pdetools.icg.nature">
                     </test>
                  </and>
               </adapt>
            </with>
         </enablement>
      </renameParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="net.jeeeyul.pdetools.icg.refactor.MoveMonitorFolder"
            id="net.jeeeyul.pdetools.icg.moveParticipant"
            name="Move Monitoring Folder">
         <enablement>
            <with
                  variable="element">
               <and>
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="net.jeeeyul.pdetools.icg.nature">
                  </test>
                  <instanceof
                        value="org.eclipse.core.resources.IFolder">
                  </instanceof>
               </and>
            </with>
         </enablement>
      </moveParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="net.jeeeyul.pdetools.clipboard.internal.StartClipboardServiceJob">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ui"
            class="net.jeeeyul.pdetools.clipboard.internal.ClipboardView"
            icon="icons/clipboard.gif"
            id="net.jeeeyul.pdetools.clipboard.ClipboardView"
            name="Clipboard"
            restorable="true">
      </view>
      <view
            category="org.eclipse.pde.ui"
            class="net.jeeeyul.pdetools.snapshot.SnapshotView"
            icon="icons/pictures.gif"
            id="net.jeeeyul.pdetools.snapshot.SnapshotView"
            name="Snapshot"
            restorable="true">
      </view>
      <view
            category="org.eclipse.pde.ui"
            class="net.jeeeyul.pdetools.biv.BundleImageView"
            icon="icons/bundle-image.gif"
            id="net.jeeeyul.pdetools.biv.BundleImageView"
            name="Bundle Images"
            restorable="true">
      </view>
      <view
            category="org.eclipse.pde.ui"
            class="net.jeeeyul.pdetools.crazyoutline.CrazyOutlineView"
            id="net.jeeeyul.pdetools.crazyoutline.CrazyOutlineView"
            name="Crazy Outline"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.jeeeyul.pdetools.clipbaord.pasteHistory"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+V">
      </key>
      <key
            commandId="net.jeeeyul.pdetools.snapshot.screenshot"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+2">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="net.jeeeyul.pdetools.clipboard.internal.ClipboardServiceFactory">
         <service
               serviceClass="net.jeeeyul.pdetools.clipboard.IClipboardService">
         </service>
      </serviceFactory>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.jeeeyul.pdetools.snapshot.editor.SnapshotEditor"
            default="false"
            icon="icons/camera.gif"
            id="net.jeeeyul.pdetools.snapshot.editor.SnapshotEditor"
            name="Snapshot Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.pde.ui.PDEPerspective">
         <view
               id="net.jeeeyul.pdetools.snapshot.SnapshotView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline">
         </view>
         <view
               id="net.jeeeyul.pdetools.clipboard.ClipboardView"
               minimized="false"
               relationship="bottom"
               relative="org.eclipse.jdt.ui.PackageExplorer">
         </view>
         <viewShortcut
               id="net.jeeeyul.pdetools.snapshot.SnapshotView">
         </viewShortcut>
         <viewShortcut
               id="net.jeeeyul.pdetools.clipboard.ClipboardView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.jeeeyul.pdetools.internal.PDEToolsPreferncePage"
            id="net.jeeeyul.pdetools.internal.PDEToolsPreferncePage"
            name="PDE-Tools">
      </page>
      <page
            category="net.jeeeyul.pdetools.internal.PDEToolsPreferncePage"
            class="net.jeeeyul.pdetools.clipboard.internal.ClipboardPreferencePage"
            id="net.jeeeyul.pdetools.clipboard.internal.ClipboardPreferencePage"
            name="Clipboard">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.jeeeyul.pdetools.clipboard.internal.ClipboardPreferenceInitializer">
      </initializer>
      <initializer
            class="net.jeeeyul.pdetools.biv.BIVPreferernceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="net.jeeeyul.pdetools.model.pdetools.ClipboardElement"
            class="net.jeeeyul.pdetools.clipboard.internal.ClipboardWorkbenchAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>

</plugin>
